<table style="border: solid black 1px">
  <% 6.downto(1) do |row| %>
  <tr>
    <% 7.times do |col| %>
      <td><%= game_board[col + 1][row - 1] ] %></td>
    <% end %>
  </tr>
  <% end %>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
  </tr>
</table>
