// Place all the styles related to the connect_four controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.restart {
  text-align: center;
  color: blue;
  .restart-link {
    font-style: italic;
  }
}