// Place all the styles related to the rps_game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.window {
  border: 2px solid black;
  margin-top: 15px;
  margin-bottom: 15px;
}

div[role="score"] {
  font-size: 18px;

  .score-heading {
    text-decoration: underline;
  }
}