<main id="games" class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="games-header">ゲームセンターＮＸえようこそ！！</h1>
      <br />
      <%= image_tag("nx.png", alt: "ゲームセンターＮＸ LOGO") %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <br />
      <p class="site-description">Choose one of the games below to start playing.</p>
    </div>
  </div>
  <div class="row games-list">
    <div class="col-sm-12">

      <div class="row game-listing">

        <div class="col-sm-4 col-sm-offset-2">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Rock Paper Scissors</h3>
            </div>
            <a href="/rockpaperscissors">
              <div class="panel-body">
                <p>An ancient game of skill and strategy. Do you have what it takes?</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Connect Four</h3>
            </div>
            <a href="/connectfour">
              <div class="panel-body">
                <p>The disks drop like comets from the sky. Connect four to achieve ultimate victory!<p>
              </div>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>

</main>