<%= render 'shared/navbar' %>


<main class="gc-page-wrapper jumbotron">
	<section class="content-wrapper container">
		<div class="top-header">
			<h1>Welcome to Game Center!</h1>
			<p>Choose one of the games below to start playing</p>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<div class="game-wrapper">
					<h3>Rock,Paper, Scissors</h3>
					<p>an ancient gmae of skill and strat. Yo.</p>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="game-wrapper">
					<h3>C Four</h3>
					<p>Connect four, with pizaz. Or Pizzas. You decide!</p>
				</div>
			</div>
		</div>
	</section>
	
</main>