<!-- partial for navbar -->

      

  <!-- game stuff -->
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h2>HEADER</h2>
    </div>
    <div class="col-xs-6 col-xs-offset-3">
      <h4>GAMES</h4>
      <div class="row">
        <!-- rock paper scissors -->
        <div class="col-xs-6">
          <%= link_to "ROCK PAPER SCISSORS", rock_paper_scissors_path %>
        </div>
        <!-- connect four -->
        <div class="col-xs-6">
          <%= link_to "CONNECT FOUR",
          connect_four_path %>
        </div>
      </div>
    </div>
  </div>