<!-- partial for navbar -->
<div class="container">
  <!-- header -->
  <div class="row">
    <div class="col-xs-12">
      <h2>HEADER</h2>
    </div>
  </div>
  <!-- game stuff -->
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h4>GAMES</h4>
        <div class="row">
          <!-- rock paper scissors -->
          <div class="col-xs-6">
            <h3>ROCK PAPER SCISSORS</h3>
          </div>
          <!-- connect four -->
          <div class="col-xs-6">
            <h3>CONNECT FOUR</h3>
          </div>
        </div>
      </div>
    </div>



</container>