
<form method='post' action='/'>
  <input type='radio' name='column' value='1'>
  <input type='radio' name='column' value='2'>
  <input type='radio' name='column' value='3'>
  <input type='radio' name='column' value='4'>
  <input type='radio' name='column' value='5'>
  <input type='radio' name='column' value='6'>
  <input type='radio' name='column' value='7'>
  <input type='submit' name='column' value='Submit'>
</form>

# maybe edit instead?