<div class="row results ">
	<div class="col-sm-4">
		<h2><%= @playerchoice %></h2>
	</div>
	<div class="col-sm-4">
		<h3>VS.</h3>
	</div>
	<div class="col-sm-4">
		<h2><%= @ai_move %></h2>
	</div>
</div>
<div class="row results">
	<h2><%= @result %></h2>
</div>
