
<main>
	<div class="container">
			<%= render 'player_1'%>

		<% unless @playerchoice.nil? %>
			<div class="row results ">
				<%= render 'results' %>
			</div>
		<% end %>

	</div>

	<h3>Game type: <%= @game_type %></h3>
</main>