// Place all the styles related to the connect_four controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#red-cell {
  background-color: red;
}

#black-cell {
  background-color: black;
}

td {
  border: 2px solid black;
  height: 50px;
  width: 50px;
}