<% @board_render = session[:board] %>

  <% 5.downto 0 do |row| %>
    |
    <% 0.upto 6 do |column| %>
      <% if @board_render[column][row].nil? %>
        |
      <% else %>
        <%= @board_render[column][row] %> |
      <% end %>
    <% end %>
    <p></p>
  <% end %>
       1 2 3 4 5 6 7 <br><br>  
