<h1 class="centered">Connect Four</h1>

<div class="board-container">
  <% @game.board.each do |row| %>
    <div class="row">
      <% row.each do |cell| %>
        <span class="cell <%= color_for(cell)%>" ></span>
      <% end %>
    </div>
  <% end %>
</div>

<div class="game-form">
  <form action="<%= drop_piece_path %>" method="post">
    <input  type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">
    <input type="radio" name="column" value="1"> 1<br>
    <input type="radio" name="column" value="2"> 2<br>
    <input type="radio" name="column" value="3"> 3<br>
    <input type="radio" name="column" value="4"> 4<br>
    <input type="radio" name="column" value="5"> 5<br>
    <input type="radio" name="column" value="6"> 6<br>
    <input type="radio" name="column" value="7"> 7
    <input type="submit">
  </form>
</div>
