# apps/views/connect_four/new.html.erb

<h1>Welcome to Connect Four!</h1>

<p>
  Select which column to drop in using the form below
</p>


<pre>
  <table>
    <% 7.times do |column| %>
      <tr> 
        <% 7.times do |cell| %>
          <td> -</td>
        <% end %>
      </tr>
    <% end %>
  </table>
</pre>


<%= form_tag(connectfour_drop_piece_path, :method => "POST") do %>
  <table>
    <% (0..6).each do |column| %>
      <tr> 
         <%= radio_button_tag(:move, column) %>
      </tr>
    <% end %>
  </table>
  <%= submit_tag "Make Move" %>
<% end %>