<div class="container">
  <div class="row">
    <h3>Player Choices</h3>
    <%= form_tag do %>
      <div class="radio">
        <label>
        <input type="radio" name="rpsChoices" id="rock" value="R">
        Rock
        </label>
      </div>
      <div class="radio">
        <label>
        <input type="radio" name="rpsChoices" id="paper" value="P">Paper
        </label>
      </div>
      <div class="radio">
        <label>
        <input type="radio" name="rpsChoices" id="scissors" value="S">
        Scissors
        </label>
      </div>
      <input type="submit">
    <% end %>
  </div>
</div>
<%= @playerchoice