<table>
<% (@board.length-1).downto(0) do |row_index| %>
  <tr>
    <% @board[row_index].each do |col| %>
      <% if col == 0 %>
        <td>0</td>
      <% elsif col == 1 %>
        <td>1</td>
      <% elsif col == 2 %>
        <td>2</td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>
