<table>
  <% 5.downto(0) do |row| %>
    <tr>
    <% 0.upto(6) do |column| %>
      <% if board[column][row] %>
        <%= content_tag(:td, "| #{board[column][row]} ") %>
      <% else %>
        <%= content_tag(:td, "|---") %>
      <% end %>
        <%= content_tag(:td, "|") %>
    <% end %>
    </tr>
  <% end %>
</table>
