<nav>
  <p>
    <strong>Game Center</strong>:
    <%= link_to 'home', root_path %> |
    <%= link_to 'cards index', cards_path %> |
    <%= link_to 'Blackjack', pages_blackjack_path %>
  </p>
  <hr>
</nav>