<div class="row">
  <% if @player %>
    <h3 class="text-center">Player 1 wins!</h3>
  <% else %>
    <h3 class="text-center">Player 2 wins!</h3>
  <% end %>

  <form action="<%= root_path %>" method="get">
    <input  type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    <input type="submit" value="Start New Game" class="btn btn-success center-block">
  </form>
</div>
