// Place all the styles related to the rps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#rpsChoices_R, #rpsChoices_P, #rpsChoices_S {
	opacity:0 !important;
}
.rps img{
	margin:0;
}

#rpsP, #rpsR, #rpsS {
	margin-top:0 !important;
}
.rpssubmit {
	opacity:0;
}
.rpscontainer {
	background-color: #676863;
	padding-top:30px;
}
.player-choices h1 {
	font-family: 'Shadows Into Light', cursive;
	color:white;
	text-align:center;
	padding-bottom:30px;
}

.results {
	text-align:center;
	h2 {
		color:white;
	} h3 {
		color:white;
	}
}