<nav>
  <div class="top-navbar navbar navbar-fixed-top row" role="navigation">
      <a class="navbar-brand" href="#">
          <span class="logo-text">
          Game Center
          </span>
        </a>
  </div>
</nav>
<main>

</main>
