<nav class "row">
  <div class = "navbar-header">
    <div id = "game-navbar" class="navbar-fixed-top " role="navigation">
      <div class = "col-md-12">
        <%= link_to "Game Center", root_path, class: "navbar-brand" %>
      </div>
    </div>
  </div>
</nav>

<main class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <h1>
      Welcome to Game Center!
    </h1>
    <h4>
      Choose one of the games below to
    </h4>
    <h4>start playing</h4>
  </div>

  <div class = "col-md-3 col-md-offset-3">
    <h3>Rock, Paper, Scissors</h3>
  </div>

  <div class = "col-md-3">
    <h3>Connect Four</h3>
  </div>


</main>
