<h1>Connect Four</h1>

<p>

</p>


<%= form_tag("/game", method: "puts") do %>
  <input type="radio" name="move" value="1">
  <input type="radio" name="move" value="2"> 
  <input type="radio" name="move" value="3"> 
  <input type="radio" name="move" value="4"> 
  <input type="radio" name="move" value="5"> 
  <input type="radio" name="move" value="6"> 
  <input type="radio" name="move" value="7">   
<% end %>
