// Place all the styles related to the gamecenter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gametile {
  border: 2px solid black;
  margin-right: 20px;
  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px
}