// Place all the styles related to the rps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.radio-tile {
  margin-top: 20px;
  margin-bottom: 20px
}

.results{
  margin-bottom: 20px;
  margin-top: 20px
}

.btn-new-game{
  color: #fff !important;
  font-size: 14px;
  text-decoration: none
}

.submit-button{
  margin-bottom: 20px;
}