<p>
  Board HERER
</p>

<table>
  <% 6.times do |i| %>
    <tr>
      <% 7.times do |j|  %>
        <td>
          <%= j + 1 %>
        </td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <%= form_tag(connect_fours_path, :method => "post") do%>
      <% 7.times do |i| %>
      <td><%= radio_button_tag(:column,i)%></td>
    <% end%>
  </tr>
</table>
    <%= submit_tag("Enter move")%>
<%end%>