<form action="/board" method="post" >
  <label for="grid">"Click here to play Connect 4!"</label>

  <input type="submit" value="Play!">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
</form>
