<h1>Boards#show</h1>
<p>Find me in app/views/boards/show.html.erb</p>
<div class="container">
  <% @board.grid.transpose.reverse.each do |rows| %>
    <% col_number = 0 %>
    <div class="row">
    <% rows.each do |space| %>
    <% color = "test" %>
      <div class="col-md-1 space <%= 'empty' unless space.color %>" id="<%= col_number %>"><%= space %></div>
    <% end %>
  <% end %>
</div>
