<%= render 'shared/flash' %>
<table>
  <%= render 'shared/game_board' %>
  <% unless @game_over %>
    <%= render 'shared/column_choices' %>
  <% else %>
  <td colspan="7"><%= link_to "Play Again", root_path(:reset => true) %>
  <% end %>
</table>
