<nav class "row">
  <div class = "navbar-header">
    <div id = "game-navbar" class="navbar-fixed-top " role="navigation">
      <div class = "col-md-12">
        <%= link_to "Game Center", root_path, class: "navbar-brand logo" %>
      </div>
    </div>
  </div>
</nav>