table, td {
  border: 3px solid yellow;
}

table {
  background-color: yellow;
}

td {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white !important;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}