
<div class = "col-md-6" role="your-score">
  <div class = "row">
    <div class = "col-md-12">
      <span class = "score-heading">Good Guys:</span>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-12">
      0
    </div>
  </div>
</div>

<div class = "col-md-6" role="their-score">
  <div class = "row">
    <div class = "col-md-12">
      <span class = "score-heading">Bad Guys:</span>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-12">
      0
    </div>
  </div>
</div>