<!DOCTYPE html>
<html>
  <head>
    <title>GameCenterOnRails</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% flash.each do |pair| %>
      <%= content_tag(:p, pair[1]) %>
    <% end %>
    <%= yield %>
  </body>
</html>
