<!DOCTYPE html>
<html>
  <head>
    <title>GameCenterOnRails</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if flash.to_h.has_key?(:notice) %>
      <%= content_tag(:p, flash[:notice]) %>
    <% else %>
      <% flash.each do |pair| %>
        <%= content_tag(:p, pair[1]) %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
