<h1>Welcome to Connect Four!</h1>

  <form method="post" action="/connect_four">
    <input  type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <table>

      <% @board.transpose.each do |row| %>
        <tr>
          <% row.each do |cell| %>
            <% if cell == "R" %>
              <td id="red-cell"></td>
            <% elsif cell == "B" %>
              <td id="black-cell"></td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <%= render "move" %>
      </tr>
    </table>
    <input type="submit" value="Drop Piece">
  </form>

<form method="get" action="<%= new_connect_four_path %>">
  <input type="submit" value="Reset game">
</form>